p{
    text-align: justify;
    padding: 0.60em;
}

body{
    background-color: burlywood;
}

h2{
    font-weight: bold;
}

.barTitle{
    background-color:lightgray;
}

.titulos{
    padding: 2em;
}

.texto{
    text-align: right;
}
.imagen-icon{
    border-radius: 50%;
    width: 10em;
    height: auto;
    padding: 0.5em 0 0 0;
}

.imagen-banner{
    border-radius: 5%;
    width: 100%;
    height: auto;
    margin: 1em 0 1em 0;
}

.titulo-general{
    margin: 1em;
}

.mini-imagenes{
    border-radius: 3%;
    width: 26em;
    height: 26em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.columna{
    margin: 2em 0 0 0;
}

/* Para 480px */  
@media only screen and (max-width: 500px) and (min-width: 100px) {  
    .mini-imagenes{
        text-align: center;
        border-radius: 3%;
        width: 200px;
        height: 200px;
    }
}  